.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
    padding: 10px;
}

.nav-items > ul{
    display: flex;
}

.nav-items > ul> li{
    padding: 10px;
    margin: 10px;
    list-style: none;
    font-size: 20px;
}


.body{
    border: 1px solid black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: -webkit-center;
}

.footer{
    border: 1px solid black;
    display: flex;
    
}

.hotel-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.hotel-card{
    
    width: 300px;
    margin: 5px;
    border-radius: 25px;
    border: 2px solid lightslategray;
}

.hotel-card-details{
    padding: 10px;;
}

.hotel-card-details >p{
    font-size: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hotel-logo{
    width: 100%;
    border-radius: 25px;
}

.search{
    padding: 10px;
}

.hotel-container{
    width: 75%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.connect{
    padding-left: 10%;
}

.shimmerdiv{
    width: 300px;
    height: 300px;
    margin: 5px;
    border-radius: 25px;
    background: rgb(185, 183, 183);
}

.shimmerdivInfo{
    width: 300px;
    height: 100px;
    margin: 5px;
    border-radius: 25px;
    background: rgb(185, 183, 183);
}

.shimmerview{

    width: 75%;
    display: flex;
    flex-wrap: wrap;
    text-align: -webkit-center;
    justify-content: center;
}

.LogInOut{
    font-weight: bold;
}

.contactAboutUs{
    background: lightgray;
    justify-content: center;
    text-align: center;
}

.resto{
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 1px solid yellow;
}

.resto > img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.restoInfo{
    padding: 20px;
}